{%- set powered_by -%}
    <a href="{{ cecil.url }}">Cecil</a> &amp; <a href="https://getbootstrap.com/">Bootstrap</a> &amp; <a href="https://fontawesome.com/">Font Awesome</a> &amp; <a href="https://highlightjs.org/">highlight.js</a>
{%- endset ~%}
<small>Generated with <a href="https://www.php.net/">PHP</a> &Backslash; {% trans %}Powered by %powered_by%{% endtrans %}</small>
